*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# Project exclude paths
/app/build/
/app/build/intermediates/javac/debug/classes/
/core/common/common-api/build/
/core/common/common-api/build/intermediates/javac/debug/classes/
/core/theme/build/
/core/theme/build/intermediates/javac/debug/classes/
/core/ui-core/build/
/core/ui-core/build/intermediates/javac/debug/classes/
/core/utils-core/build/
/core/utils-core/build/intermediates/javac/debug/classes/
/features/alarms/build/
/features/alarms/build/intermediates/javac/debug/classes/
/features/compass/build/
/features/compass/build/intermediates/javac/debug/classes/
/features/main-screen/build/
/features/main-screen/build/intermediates/javac/debug/classes/
/features/sign-in/build/
/features/sign-in/build/intermediates/javac/debug/classes/
/features/sign-up/build/
/features/sign-up/build/intermediates/javac/debug/classes/
/navigation/build/
/navigation/build/intermediates/javac/debug/classes/